.product-section {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-family: "Exo 2", sans-serif;
  }

  .product-title {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    h1 {
      width: fit-content;
      padding: 10px;
      border-radius: 7px;
      background-color: #b62727;
      color: white;
    }
  }
  
  .column {
    flex: 1;
  }
  
  .card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 90%;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .card-image {
    width: 60%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-title {
    margin: 0;
    font-size: 16px;
  }
  
  .card-description {
    margin: 0;
    font-size: 14px;
    color: #666;
    height: 40px;
    padding-top: 2px;
    text-align: justify;
    font-size: large;
    margin-bottom: auto;
  }
  
  .card-image{
    max-height: 250px;
  }

  .titulo{
    text-align: center;
  }

  .btn-contratar{
    align-items: baseline;
    width: 80%;
    background-color: #B62727;
    border: none;
    border-radius: 3px;
    padding: 10px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease;
    color: aliceblue;
    font-family: "Exo 2", sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }