.historial-container {
    margin-bottom: -100px;
    margin-top: 60px;
    height: 85vh;

    p {
        text-align: center;
    }
}

.historial-item {
    border-top: 1px solid rgba(160, 160, 160, 0.140);
    border-bottom: 1px solid rgb(160, 160, 160, 0.140); 

    padding: 10px; 
    text-align: center;
    background-color: #f5f5f544;
}

.historial-item img {
    border: 0.5px rgba(160, 160, 160, 0.459);
    border-style: solid;
    max-width: 200px;
    height: auto; 
    margin-right: 10px;
}

.item-details {
    flex-grow: 1;
}
