.tabla-responsiva table {
    width: 100%;
    border-collapse: collapse;

} 

.tabla-responsiva table, .tabla-responsiva th, .tabla-responsiva td {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px 0px 0px 5px;
}

.tabla-responsiva th, .tabla-responsiva td {
    padding: 8px; /*tamaño de celdax*/
    text-align: center;
}

.busqueda{
    text-align: center;
    padding: 15px;
    
    .texto{
        width: 25%;
        height: auto;
        background-color: rgba(160, 170, 179, 0.293);

    }
    .btnBuscar {
        margin: 1rem;
        width: 100px;
        height: auto;
    }
}



